<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="js/javascript.js"></script>

    <!-- BootStarp css properties
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->

</head>
<body>
    <form method="post">
        <img src="img/Manulife.png" id="manulife-logo">

        <ul>
            <li><a href="/" class="active">Script</a></li>

        </ul>

        <table>
            <tr>
                <td>
                    <input type="radio" name="testcase1" id="testcase1" value="firsttestcase">Launch Google URL <br>



                </td>
            </tr>
        </table>

        <input type="submit" id="submit" name="submit"/>

    </form>

</body>
</html>